.btn-style{
    background-color: rgb(39, 190, 39);
    color: rgb(234, 245, 234);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-style:hover{
    background-color: rgb(30, 94, 30);
}